# Auto detect text files and perform LF normalization
* text=auto

# Large datasets via Git LFS (prefer zip / zip.part* over individual tiles)
data/*.zip filter=lfs diff=lfs merge=lfs -text
data/*.zip.part* filter=lfs diff=lfs merge=lfs -text
data/*.geojson filter=lfs diff=lfs merge=lfs -text
data/egdi_wfs_cache/*.geojson filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/layers/height.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/samples/height_rgb.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/samples/height_u16.png filter=lfs diff=lfs merge=lfs -text
/data/SVGS/Animals[[:space:]]British[[:space:]]Isles[[:space:]]export.svg filter=lfs diff=lfs merge=lfs -text
/data/SVGS/Ores[[:space:]]Republic[[:space:]]of[[:space:]]Ireland[[:space:]]export.svg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/001_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/001_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/001_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_004.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_005.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_003.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_004.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_005.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_004.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/007_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/007_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/layers/vegetation.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/height.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/surface.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/vegetation.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/4/layers/height.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/4/layers/vegetation.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/samples/vegetation_u8.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/layers/rivers.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/ores/ochrum.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/rivers.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/4/layers/rivers.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/samples/rivers_u8.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/layers/surface.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/000_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/000_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/000_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/000_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/001_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_004.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_003.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_002.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_003.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_005.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_001.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/007_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/007_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/008_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/002_002.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/002_003.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/002_004.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/002_005.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/003_004.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/003_005.u8rg filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/21679634f3ee303ae819fade54374b0a2fcf935d341cd9fcc133f4a60e0e88c1.png filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/4a0d602899863602feca29b813452e05db23151d22c2f09aa371e5f69c979fb2.png filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/68cd82c7e6afa62addf1bd317ec6a4787723c1821c59f2d7054ed37a9da66ce6.png filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/774220af9a84f6f678d7d4bbdd14567d084040c304cd9a2901ed1676d515cc9a.png filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/88efc887c42aa0cdc242639f64c15799c024655d765d3a5b43be1cfd82d2e559.png filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/8ea91a1f5f669ceb7844cde0842d18eb92684ab67c692971c812040ee1ea9b85.png filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/acd10028b1cc1fe13132c5664c3a47dec07812f0b0346836ee76673fe2d67430.png filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/ae426a65779d8df9821ab7ca403abd5036f0b9558e2189bc41043e9833eab12e.png filter=lfs diff=lfs merge=lfs -text
/data/clc_wms_cache/bcdf3d29733b9723ca0ae89c372a36dec047f98ae146a36b0f1f5b440fd94957.png filter=lfs diff=lfs merge=lfs -text
**/uk_world_data_gb/hoverpreviews/** filter=lfs diff=lfs merge=lfs -text
**/uk_world_data/hoverpreviews/** filter=lfs diff=lfs merge=lfs -text
