# Auto detect text files and perform LF normalization
* text=auto

# Large datasets via Git LFS (prefer zip / zip.part* over individual tiles)
data/*.zip filter=lfs diff=lfs merge=lfs -text
data/*.zip.part* filter=lfs diff=lfs merge=lfs -text
data/*.geojson filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/layers/height.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/samples/height_rgb.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/samples/height_u16.png filter=lfs diff=lfs merge=lfs -text
/data/SVGS/Animals[[:space:]]British[[:space:]]Isles[[:space:]]export.svg filter=lfs diff=lfs merge=lfs -text
/data/SVGS/Ores[[:space:]]Republic[[:space:]]of[[:space:]]Ireland[[:space:]]export.svg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/001_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/001_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/001_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_004.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_005.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_003.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_004.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_005.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_004.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/007_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/007_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/layers/vegetation.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/height.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/surface.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/vegetation.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/4/layers/height.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/4/layers/vegetation.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/samples/vegetation_u8.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/layers/rivers.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/ores/ochrum.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/2/layers/rivers.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/mips/4/layers/rivers.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/samples/rivers_u8.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/hoverpreviews/layers/surface.png filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/000_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/000_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/000_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/000_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/001_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/002_004.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_003.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_010.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/003_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_007.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/004_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_002.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_003.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_005.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/005_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_001.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_006.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/006_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/007_008.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/007_011.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/height/regions/008_009.r16rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/002_002.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/002_003.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/002_004.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/002_005.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/003_004.u8rg filter=lfs diff=lfs merge=lfs -text
/tools/ukgeo-tools/uk_world_data_gb/vegetation/regions/003_005.u8rg filter=lfs diff=lfs merge=lfs -text
**/uk_world_data_gb/hoverpreviews/** filter=lfs diff=lfs merge=lfs -text
**/uk_world_data/hoverpreviews/** filter=lfs diff=lfs merge=lfs -text
